<mdi-banner [title]="icon.name" [icon]="icon.data" [carbon]="true"></mdi-banner>
<div class="container">
    <div>
        <div class="preview">
            <svg *ngIf="isVector" viewBox="0 0 24 24">
                <path [attr.d]="icon.data"></path>
            </svg>
            <img *ngIf="loaded && !isVector" [attr.src]="'/api/preview?png=' + icon.data" />
        </div>
        <button (click)="toggle()">Vector</button>
        <button (click)="toggle()">Raster</button>
        <div>
            Point Count {{icon.getPointCount()}}
        </div>
    </div>
    <div class="card p-3">
        <pre class="mb-0">&lt;svg viewBox="0 0 24 24"&gt;
    &lt;path d="{{icon.data}}"&gt;&lt;/path&gt;
&lt;/svg&gt;</pre>
    </div>
</div>