:host {
    mdi-banner {
        padding: 2rem 0 3rem 0;
    }
    h1 {
        color: #FFF;
    }
    div.preview {
        width: 280px;
        height: 280px;
        background: url('/assets/resources/icon-grid.svg') #F1F1F1;
        border-radius: 8px 8px 0 0;

        svg {
            margin: 20px;
            width: calc(100% - 40px);
            height: calc(100% - 40px);

            path {
                fill: #646464;
            }
        }

        img {
            width: 240px;
            height: 240px;
            margin: 20px;
            image-rendering: pixelated;
        }
    }
    div.aliases {
        margin-top: -1.75rem;
        margin-bottom: 1rem;
        color: #FFF;
        > span > span {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 0.25rem;
            padding: 0.25rem 0.5rem;
        }
    }
}