:host {
    .card {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        border: 0;
        
         p {
            padding: 15px;
            font-size: 14px;
            margin: 0;
         }
    }

    .card-image {
        p {
            border-top: 1px solid #DDD;
            color: #333;
            border-radius: 0 0 0.25em 0.25em;
            background: #FFF;
        }
    }
}