<mdi-banner [title]="'Resources'" [carbon]="true"></mdi-banner>
<div class="container">

    <div class="row mt-1">
        <div class="col-md-9 pt-2">
            <div class="card">
                <p>The community has a vast amount of tools, libaries, and software that make use of the Material Design Icons set.</p>
            </div>
        </div>
        <div class="col-md-3 pt-2">
            <div class="card">
                <p>Jump down the page...</p>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-6">
            <div class="card card-image">
                <img src="/assets/resources/nova.svg" style="width: 100%;" />
                <p>The only icon pack that includes all icons in solid + line style, for designing applications and websites.
                    <a href="">Learn More</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card resource-blue">
                <a href="">
                    <mdi-icon name="download"></mdi-icon> MDI Templates</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card resource-blue">
                <a href="">
                    <mdi-icon name="download"></mdi-icon> MDI Design Files</a>
            </div>
        </div>
        <div class="col-md-6 pt-3">
            <div class="card card-image" style="background: url(/assets/resources/mdil.png) #6F559C">
                <img src="/assets/resources/mdil.svg" style="width: 100%;" />
                <p>Material Design Icons Light provides a lighter variant of the popular Material Design Icons provided through
                    this site. <a href="">Learn More</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-image">
                <p>Material Up Showcase</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-image" style="background: #F1F1F1;">
                <a href="https://material.io/guidelines/style/icons.html#icons-system-icons">
                <img src="/assets/resources/systemicons.svg" style="width: 100%;" />
            </a>
                <p>Official MD System Icon Spec</p>
            </div>
        </div>
        <div class="col-md-6 pt-3">
            <div class="card card-image" style="background: #231F20;">
                <img src="/assets/resources/codepen.svg" style="width: 100%;" />
                <p>View some of our favorite codepens showing different ways to use the icons.</p>
            </div>
        </div>
    </div>
    <p>Resources rendered here...</p>
</div>