:host {
    .step {
        background: #F1F1F1;
        font-weight: bold;
        display: inline-block;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        color: #444;
    }
    .icon-list {
        display: flex;
        border-bottom: 1px solid #DDD;
        .icon {
            border: 1px solid #DDD;
            border-radius: 0.25rem;
            align-self: center;
            width: 2rem;
            height: 2rem;
            margin-left: -0.5rem;
            margin-right: 0.5rem;
            svg {
                fill: #444;
            }
        }
        .name {
            flex: 1;
            align-self: center;
        }
        .codepoint {
            padding-right: 0.5rem;
            input {
                width: 5rem;
                font-family: 'Consolas', 'Courier New', Courier, monospace;
            }
        }
    }
    .preview {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        margin-right: 5px;
        padding: 5px 8px;
        vertical-align: top;
        display: inline-block;
        svg {
            width: 24px;
            height: 24px;
            vertical-align: middle;

            path {
                fill: #646464;
            }
        }
    }
}