:host {
  display: inline-block;
  border: 1px solid #DDD;
  border-radius: 0.25rem;
  .icon-grid {
    width: 240px;
    height: 240px;
    background: url('/assets/resources/icon-grid-240.svg');
    svg {
      width: 240px;
      height: 240px;
    }
  }
}