:host {
    .section-white {
        background: linear-gradient(135deg, #FFF 0%,#EEE 100%);
        padding-top: 15px;
        padding-bottom: 20px;
        color: #646464;
    }
    .section-clear {
        color: #FFF;
        padding-top: 15px;
        padding-bottom: 20px;
    }
}