<div class="container-fluid section">
    <div class="row">
        <div class="col-md-4">
            <h2>Open Source</h2>
            <p>With a dedicated community of contributors new high quality icons and documentation are added regularly.</p>
            <button class="btn btn-outline-secondary btn-block">View Contributors</button>
        </div>
        <div class="col-md-4">
            <h2>Documentation</h2>
            <p>The key to a strong integration is easy to understand documentation for the many frameworks out there.</p>
            <button class="btn btn-outline-secondary btn-block">Getting Started</button>
        </div>
        <div class="col-md-4">
            <h2>Regular or Light</h2>
            <p>Whether looking for standard Material Design style or the lighter variant both are easily viewable.</p>
            <button class="btn btn-outline-secondary btn-block">View all Icons</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        Placeholder Left
    </div>
    <div class="col-md-4">
        Placeholder Right
    </div>
</div>