@import './../../../node_modules/bootstrap/scss/functions';
@import './../../../node_modules/bootstrap/scss/variables';
@import './../../../node_modules/bootstrap/scss/mixins';

:host {
    .section-white {
        background: linear-gradient(135deg, #FFF 0%,#EEE 100%);
        padding-top: 15px;
        padding-bottom: 20px;
        color: #646464;
    }
    .section-clear {
        color: #FFF;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .section-gray {
        color: #646464;
        background: #E1E2E1;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .btn-outline-blue {
        @include button-outline-variant(#414F56);
    }
    .light {
        font-weight: 300;
    }
    .or {
        display: inline-block;
        border-radius: 10px;
        background: #646464;
        color: #FFF;
        font-size: 16px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        opacity: 0.5;
    }
}