:host {
    .icon {
        display: inline-block;
        border: 1px solid #C4C4C4;
        background: #FFF;
        margin-right: 4px;
        margin-bottom: 4px;
        padding: 4px;
        border-radius: 4px;
        line-height: 0;

        svg {
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }
    }

    .filters {
        padding: 0 0 8px 0;
    }

    .search {
        width: calc(100% - 100px);
        font-size: 18px;
        padding: 6px 10px;
        border-radius: 4px;
        border: 1px solid #C4C4C4;
    }
}