<div class="container-fluid">
    <div class="row">
        <div [ngClass]="{'col-md-8': !collapsed, 'col-md-11': collapsed }">
            <div class="filters">
                <input type="text" class="search" placeholder="Search..." />
                <button class="btn btn-light"
                    (click)="size = 24"
                    [ngClass]="{ 'active': size == 24 }">24</button>
                <button class="btn btn-light"
                    (click)="size = 36"
                    [ngClass]="{ 'active': size == 36 }">36</button>
                <button class="btn btn-light"
                    (click)="size = 48"
                    [ngClass]="{ 'active': size == 48 }">48</button>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>All ({{icons.length}})</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item">v2.0.46</button>
                        <button class="dropdown-item">...</button>
                    </div>
                </div>
                <a routerLink="/history"
                    class="btn btn-light">
                    History
                </a>
            </div>
            <div [ngClass]="['size-' + size]">
                <a *ngFor="let icon of icons" [ngbTooltip]="icon.name" [placement]="'bottom'" class="icon"
                    [routerLink]="'/icon/' + icon.name">
                    <svg viewBox="0 0 24 24">
                        <path [attr.d]="icon.data" />
                    </svg>
                </a>
            </div>
        </div>
        <div [ngClass]="{'col-md-4': !collapsed, 'col-md-1': collapsed }">
            <div class="mb-3">
                <button class="btn btn-light"
                    (click)="collapsed = true"
                    *ngIf="!collapsed">
                    <mdi-icon name="chevron-right"></mdi-icon>
                </button>
                <button class="btn btn-light"
                    (click)="collapsed = false"
                    *ngIf="collapsed">
                    <mdi-icon name="chevron-left"></mdi-icon>
                </button>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Category 1
                </a>
                <a href="#" class="list-group-item list-group-item-action">Category 2</a>
                <a href="#" class="list-group-item list-group-item-action">Category 3</a>
                <a href="#" class="list-group-item list-group-item-action">Category 4</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Category 5</a>
            </div>
        </div>
    </div>
</div>