<div class="container-fluid" [ngClass]="{ 'has-vertical': hasVertical, 'has-scrolled': hasScrolled, 'has-full': hasFull }">
    <div class="row">
        <div class="col-md-9">
            <div class="filters">
                <div class="wrap-search mr-2">
                    <input type="text" class="search" placeholder="Search..."
                        [(ngModel)]="search" (keyup)="searchChanged()" />
                    <mdi-icon name="magnify"></mdi-icon>
                </div>
                <div class="btn-group mr-2">
                    <button class="btn btn-light btn-lighter"
                        (click)="size = 24"
                        [ngClass]="{ 'active': size == 24 }">24</button>
                    <button class="btn btn-light btn-lighter"
                        (click)="size = 36"
                        [ngClass]="{ 'active': size == 36 }">36</button>
                    <button class="btn btn-light btn-lighter"
                        (click)="size = 48"
                        [ngClass]="{ 'active': size == 48 }">48</button>
                </div>
                <div ngbDropdown class="d-inline-block mr-2">
                    <button class="btn btn-light btn-lighter" id="dropdownBasic1" ngbDropdownToggle>Latest ({{iconsCache.length}})</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item">v2.7.94</button>
                        <button class="dropdown-item">...</button>
                    </div>
                </div>
                <button class="btn btn-light btn-lighter mr-2"
                    (click)="isCheatsheet = !isCheatsheet">
                    Cheatsheet
                </button>
                <div class="btn-group">
                    <button class="btn btn-light btn-lighter"
                        (click)="switchPackage(PackageType.MaterialDesignIcons)"
                        [ngClass]="{ 'active': packageId == PackageType.MaterialDesignIcons }">Regular</button>
                    <button class="btn btn-light btn-lighter"
                        (click)="switchPackage(PackageType.MaterialDesignIconsLight)"
                        [ngClass]="{ 'active': packageId == PackageType.MaterialDesignIconsLight }">Light</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div ngbDropdown>
                <button class="btn btn-light btn-lighter btn-block text-left" id="dropdownBasic2" ngbDropdownToggle>Filter by tags...</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dropdown-menu list-tags">
                    <a [routerLink]="'/icons/' + tag.url + (packageId === PackageType.MaterialDesignIcons ? '' : '/light')"
                        *ngFor="let tag of tags"
                        class="list-group-item d-flex justify-content-between align-items-center"
                        placement="left"
                        [ngbTooltip]="collapsed ? tag.name : null">
                        <span *ngIf="!collapsed">{{tag.name}}</span>
                        <span class="badge badge-secondary badge-pill">{{tag.count}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-2 loading" *ngIf="isIconsLoading">
        <svg class="loading-spin" viewBox="0 0 24 24">
            <path d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z"></path>
        </svg>
    </div>
    <div #content class="card p-2" *ngIf="!isIconsLoading" style="flex-direction: row;flex-wrap: wrap;justify-content: space-around;" [ngClass]="['size-' + size]">
        <a *ngFor="let icon of icons" [ngbTooltip]="icon.name" [placement]="'bottom'" class="icon"
            [routerLink]="'/icon/' + icon.name + (packageId === PackageType.MaterialDesignIcons ? '' : '/light')">
            <svg viewBox="0 0 24 24">
                <path [attr.d]="icon.data" />
            </svg>
            <span *ngIf="isCheatsheet"
                class="codepoint">f001{{icon.codepoint}}</span>
        </a>
    </div>
</div>
