<div class="container-fluid" [ngClass]="{ 'has-vertical': hasVertical, 'has-scrolled': hasScrolled }">
    <div class="row">
        <div [ngClass]="{'col-main-opened': !collapsed, 'col-main-collapsed': collapsed }">
            <div class="filters">
                <div class="wrap-search">
                    <input type="text" class="search" placeholder="Search..."
                        [(ngModel)]="search" (keyup)="searchChanged()" />
                    <mdi-icon name="magnify"></mdi-icon>
                </div>
                <div class="btn-group">
                    <button class="btn btn-light btn-lighter"
                        (click)="size = 24"
                        [ngClass]="{ 'active': size == 24 }">24</button>
                    <button class="btn btn-light btn-lighter"
                        (click)="size = 36"
                        [ngClass]="{ 'active': size == 36 }">36</button>
                    <button class="btn btn-light btn-lighter"
                        (click)="size = 48"
                        [ngClass]="{ 'active': size == 48 }">48</button>
                </div>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-light btn-lighter" id="dropdownBasic1" ngbDropdownToggle>All ({{iconsCache.length}})</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item">v2.0.46</button>
                        <button class="dropdown-item">...</button>
                    </div>
                </div>
                <a routerLink="/history"
                    class="btn btn-light btn-lighter">
                    History
                </a>
                {{hasVertical}}
            </div>
            <div class="card p-2" style="display: block;" [ngClass]="['size-' + size]">
                <a *ngFor="let icon of icons" [ngbTooltip]="icon.name" [placement]="'bottom'" class="icon"
                    [routerLink]="'/icon/' + icon.name">
                    <svg viewBox="0 0 24 24">
                        <path [attr.d]="icon.data" />
                    </svg>
                </a>
            </div>
        </div>
        <div [ngClass]="{'col-sidebar-opened': !collapsed, 'col-sidebar-collapsed': collapsed }">
            <div class="mb-2">
                <button class="btn btn-light btn-lighter"
                    (click)="collapsed = true"
                    *ngIf="!collapsed">
                    <!--<mdi-icon name="chevron-right"></mdi-icon>-->d
                </button>
                <button class="btn btn-light btn-lighter"
                    (click)="collapsed = false"
                    *ngIf="collapsed">
                    <!--<mdi-icon name="chevron-left"></mdi-icon>-->d
                </button>
            </div>
            <div #sidebarTags class="list-group">
                <a [routerLink]="'/icons/' + tag.url"
                    *ngFor="let tag of tags"
                    class="list-group-item d-flex justify-content-between align-items-center"
                    placement="left"
                    [ngbTooltip]="collapsed ? tag.name : null">
                    <span *ngIf="!collapsed">{{tag.name}}</span>
                    <span class="badge badge-secondary badge-pill">{{tag.count}}</span>
                </a>
            </div>
        </div>
    </div>
</div>