<div class="modal-header">
  <h4 class="modal-title">Add Alias to Icon</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>
      Assign an Alias
      <input
        #inputAlias
        [(ngModel)]="alias"
        class="form-control" />
  </label>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cancel</button>
  <button type="button" class="btn btn-outline-dark" (click)="save()" [disabled]="alias == ''">Add Alias</button>
</div>