site-carbon {
  grid-column: 4;
  grid-row: 1;
}

[part="error"],
[part="icon"] { 
  display: none;
}

[part="icon"] {
  padding: 1rem;
  grid-template-columns: 4.25rem 10.75rem 1fr 308px;
  grid-template-rows: 108px auto auto auto;
}

[part="icon"] mdi-icon {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  --mdi-icon-color: #fff;
  background: var(--site-color);
  justify-self: left;
  padding: 0.25rem;
}

[part="icon"] h1 {
  grid-column: 2 / span 2;
  grid-row: 1;
  align-self: center;
  margin: 0;
}

[part="preview"] {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.details {
  grid-column: 3 / span 2;
  grid-row: 2;
  padding: 1rem;
}

[part="headerIcon"] {
  --mdi-icon-width: 3rem;
  --mdi-icon-height: 3rem;
}

[part="related"] {
  grid-column: 1;
  grid-row: 3;
}

[part="debug"] {
  grid-column: 1 / span 4;
  grid-row: 4;
}