<mdi-banner [title]="title"></mdi-banner>
<div class="viewer">
    <div class="row">
        <div class="col-md-8">
            <div class="content" [innerHtml]="pageData">Loading...</div>
        </div>
        <div class="col-md-4 sidebar">
            <a class="dropdown-item" routerLink="/getting-started/android" routerLinkActive="active">
                <mdi-icon [name]="'android'"></mdi-icon>
                Android
                <small>Vector Drawables</small>
            </a>
            <a class="dropdown-item" routerLink="/getting-started/angular" routerLinkActive="active">
                <mdi-icon [name]="'angular'"></mdi-icon>
                Angular
                <small>Webfont / Component</small>
            </a>
            <a class="dropdown-item" routerLink="/getting-started/angularjs" routerLinkActive="active">
                <mdi-icon [name]="'angularjs'"></mdi-icon>
                AngularJS
                <small>1.x Support</small>
            </a>
            <a class="dropdown-item" routerLink="/getting-started/bootstrap" routerLinkActive="active">
                <mdi-icon [name]="'bootstrap'"></mdi-icon>
                Bootstrap
                <small>Webfont / Shim CSS</small>
            </a>
            <a class="dropdown-item" routerLink="/getting-started/polymer" routerLinkActive="active">
                <mdi-icon [name]="'polymer'"></mdi-icon>
                Polymer
                <small>v0.5 / v1.0 Supported</small>
            </a>
            <a class="dropdown-item" routerLink="/getting-started/react" routerLinkActive="active">
                <mdi-icon [name]="'react'"></mdi-icon>
                React
            </a>
            <a class="dropdown-item" routerLink="/getting-started/svg" routerLinkActive="active">
                <mdi-icon [name]="'svg'"></mdi-icon>
                SVG
            </a>
            <a class="dropdown-item" routerLink="/getting-started/webpack" routerLinkActive="active">
                <mdi-icon [name]="'webpack'"></mdi-icon>
                Webpack
            </a>
            <a class="dropdown-item" routerLink="/getting-started/webfont" routerLinkActive="active">
                <mdi-icon [name]="'html'"></mdi-icon>
                Webfont
                <small>Helper Classes</small>
            </a>
        </div>
    </div>
</div>