.banner {
  background: var(--site-color);
  color: #fff;
  padding: 0.5rem 1rem;
}

.banner mdi-icon {
  vertical-align: middle;
  --mdi-icon-color: #fff;
  margin-right: 0.5rem;
}

.banner a {
  color: #fff;
}

mdi-annoy {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}

.nav-item {
  align-self: center;
  padding: 0.125rem 0.5rem;
  margin: 0 0.5rem 0 0;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 0.25rem;
  color: var(--site-color);
  position: relative;
}
.nav-item:hover,
.nav-item:active,
.nav-item:focus {
  color: #fff;
  background: var(--site-color);
}
[part="navDocs"].active {
  font-weight: bold;
}
[part="navDocs"].active::before {
  content: '\25B2';
  color: var(--site-color);
  transform: scaleY(0.5);
  display: block;
  position: absolute;
  left: calc(50% - 1rem);
  font-size: 2.5rem;
  bottom: -1rem;
  line-height: 1rem;
}
[part="menu"] {
  display: inline-flex;
  align-self: center;
  border: 0;
  background: transparent;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  outline: 0;
  position: relative;
}
[part="menu"]:hover,
[part="menu"]:active,
[part="menu"]:focus {
  color: #fff;
  background: var(--site-color);
  --mdi-icon-color: #fff;
}
[part="menu"].active::before {
  content: '\25B2';
  color: var(--site-color);
  transform: scaleY(0.5);
  display: block;
  position: absolute;
  left: calc(50% - 1.25rem);
  font-size: 2.5rem;
  bottom: -1rem;
  line-height: 1rem;
}
footer {
  display: flex;
  background: var(--site-color);
  color: #fff;
  padding: 1rem;
}
footer a {
  color: #fff;
}
footer > a {
  margin-left: 0.25rem;
}
footer svg {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}
[part="and"] {
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  line-height: 1.25rem;
  margin-left: 0.3rem;
  height: 1.25rem;
  position: relative;
}
[part="and"] span:first-child {
  margin-top: -1.25rem;
}
[part="and"]::before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  height: 1.25rem;
  top: -1rem;
  background: linear-gradient(to bottom, #453c4f 0%,rgba(69, 60, 79, 0) 100%);
  pointer-events: none;
}
[part="and"]::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  height: 1.25rem;
  top: 1.25rem;
  background: linear-gradient(to bottom, rgba(69, 60, 79, 0) 0%,#453c4f 100%);
  pointer-events: none;
}

footer .issue {
  display: inline-flex;
  background: #fff;
  border: 0;
  color: var(--site-color);
  --mdi-icon-color: var(--site-color);
  text-decoration: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  justify-self: right;
  margin: -0.25rem 0 -0.25rem auto;
}

footer .issue:hover {
  box-shadow: 0 1px 8px #000;
}

footer mdi-icon {
  align-self: center;
  margin-left: -0.25rem;
  margin-right: 0.25rem;
}