.banner {
  background: var(--site-color);
  color: #fff;
  padding: 0.5rem 1rem;
}

.banner mdi-icon {
  vertical-align: middle;
  --mdi-icon-color: #fff;
  margin-right: 0.5rem;
}

.banner a {
  color: #fff;
}

mdi-annoy {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}

.nav-item {
  align-self: center;
  padding: 0.125rem 0.5rem;
  margin: 0 0.5rem 0 0;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 0.25rem;
  color: var(--site-color);
  position: relative;
}
.nav-item:hover,
.nav-item:active,
.nav-item:focus {
  color: #fff;
  background: var(--site-color);
}
[part="navDocs"].active {
  font-weight: bold;
}
[part="navDocs"].active::before {
  content: '\25B2';
  color: var(--site-color);
  transform: scaleY(0.5);
  display: block;
  position: absolute;
  left: calc(50% - 1rem);
  font-size: 2.5rem;
  bottom: -1rem;
  line-height: 1rem;
}
[part="menu"] {
  display: inline-flex;
  align-self: center;
  border: 0;
  background: transparent;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  outline: 0;
}
[part="menu"]:hover,
[part="menu"]:active,
[part="menu"]:focus {
  color: #fff;
  background: var(--site-color);
  --mdi-icon-color: #fff;
}