<nav class="navbar navbar-light">
    <div class="mr-auto">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">
            <svg viewBox="0 0 24 24">
                <path d="M2,2H8V4H16V2H22V8H20V16H22V22H16V20H8V22H2V16H4V8H2V2M16,8V6H8V8H6V16H8V18H16V16H18V8H16M4,4V6H6V4H4M18,4V6H20V4H18M4,18V20H6V18H4M18,18V20H20V18H18Z"
                />
            </svg>
            <span [innerHtml]="name"></span>
        </a>
    </div>
    <ul class="nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/icons" routerLinkActive="active">Icons</a>
        </li>
        <li class="nav-item dropdown">
            <button class="btn-link getting-started" (click)="isNav = !isNav">
                Getting Started
                <mdi-icon [name]="'chevron-up'" *ngIf="!isNav"></mdi-icon>
                <mdi-icon [name]="'chevron-down'" *ngIf="isNav"></mdi-icon>
            </button>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/resources" routerLinkActive="active">Resources</a>
        </li>
        <li class="nav-item">
            <iframe src="https://ghbtns.com/github-btn.html?user=templarian&amp;repo=MaterialDesign&amp;type=star&amp;count=true&amp;" frameborder="0" scrolling="0" width="104" height="20" style="vertical-align: text-bottom;"></iframe>
        </li>
        <li class="nav-item" style="margin-left:0;">
            <a class="nav-link" href="https://github.com/Templarian/MaterialDesign">
                <mdi-icon [name]="'github'"></mdi-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="menu" [ngbCollapse]="isNav">
    <div>Getting Started</div>
    <a routerLink="/getting-started/android" routerLinkActive="active">
        <mdi-icon [name]="'android'"></mdi-icon>
        Android
        <small>Vector Drawables</small>
    </a>
    <a class="item" routerLink="/getting-started/angular" routerLinkActive="active">
        <mdi-icon [name]="'angular'"></mdi-icon>
        Angular
        <small>Webfont / Component</small>
    </a>
    <a class="item" routerLink="/getting-started/angularjs" routerLinkActive="active">
        <mdi-icon [name]="'angularjs'"></mdi-icon>
        AngularJS
        <small>1.x Support</small>
    </a>
    <a class="item" routerLink="/getting-started/bootstrap" routerLinkActive="active">
        <mdi-icon [name]="'bootstrap'"></mdi-icon>
        Bootstrap
        <small>Webfont / Shim CSS</small>
    </a>
    <a class="item" routerLink="/getting-started/polymer" routerLinkActive="active">
        <mdi-icon [name]="'polymer'"></mdi-icon>
        Polymer
        <small>v0.5 / v1.0 Supported</small>
    </a>
    <a class="item" routerLink="/getting-started/react" routerLinkActive="active">
        <mdi-icon [name]="'react'"></mdi-icon>
        React
    </a>
    <a class="item" routerLink="/getting-started/svg" routerLinkActive="active">
        <mdi-icon [name]="'svg'"></mdi-icon>
        SVG
    </a>
    <a class="item" routerLink="/getting-started/webpack" routerLinkActive="active">
        <mdi-icon [name]="'webpack'"></mdi-icon>
        Webpack
    </a>
    <a class="item" routerLink="/getting-started/webfont" routerLinkActive="active">
        <mdi-icon [name]="'html'"></mdi-icon>
        Webfont
        <small>Helper Classes</small>
    </a>
    <a class="item" routerLink="/getting-started/windows" routerLinkActive="active">
        <mdi-icon [name]="'windows'"></mdi-icon>
        Windows
        <small>UWP / WPF</small>
    </a>
    <div style="">Guides</div>
    <a routerLink="/contribute" routerLinkActive="active">
        <mdi-icon [name]="'android'"></mdi-icon>
        Contributing
        <small>How to Help</small>
    </a>
    <a routerLink="/contribute/icon-naming" routerLinkActive="active">
        <mdi-icon [name]="'android'"></mdi-icon>
        Icon Naming
        <small>Naming Convention</small>
    </a>
</div>