:host {

    span {
        color: #FFF;
    }

    .nav {
        display: inline-block;

        .nav-link,
        .btn-link {
            color: #FFF;
            cursor: pointer;
            outline: none;

            &:focus,
            &:hover {
                text-decoration: none;
            }
        }
    }
    .nav-item {
        display: inline-block;
    }
    nav /deep/ {
        svg {
            width: 24px;
            height: 24px;
            vertical-align: text-bottom;

            path {
                fill: #FFF;
            }
        }
    }

    .getting-started {
        /deep/ {
            svg {
                vertical-align: bottom;
                margin-bottom: -2px;
                margin-left: -4px;
            }
        }
    }

    .dropdown-item {
        padding: 10px 15px;
        border-bottom: 1px dotted #CCC;

        small {
            display: block;
            color: #999;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .menu {
        background: #FFF;
        padding: 10px 15px;

        a {
            color: #222;
            display: inline-block;
            vertical-align: top;
            /deep/ {
                svg {
                    float: left;
                    path {
                        fill: #333;
                    }
                }
            }
            small {
                display: block;
            }
        }
    }
    
}