[part="container"] {
  display: grid;
  grid-template-columns: calc(300px + 1.5rem) auto;
}

aside {
  padding: 1rem;
  grid-column: 1;
}

main {
  grid-column: 2;
  padding: 1rem;
}

[part="search"] {
  border: 1px solid var(--site-color);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  width: calc(100% - 0.725rem);
  font-size: 1rem;
  margin-top: 1rem;
  outline: 0;
}

[part="select"] {
  border: 1px solid var(--site-color);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  width: calc(100% + 1rem);
  font-size: 1rem;
  margin-top: 1rem;
  outline: 0;
  -webkit-appearance: none;
}

.icon {
  height: 0;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(275px, -29px);
  color: var(--site-color);
  pointer-events: none;
}