[part="container"] {
  display: grid;
  grid-template-columns: calc(300px + 1.5rem) auto;
}

aside {
  padding: 1rem 0 1rem 1rem;
  grid-column: 1;
}

aside section {
  margin-left: -1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.25rem 1rem 0.75rem 1rem;
  margin-top: 1rem;
  background: #f1f1f1;
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.2) inset;
}

aside section mdi-button-link {
  --mdi-button-background-color: transparent;
  --mdi-button-padding: 0.5rem;
  margin-bottom: 0.5rem;
}

aside section mdi-button-link mdi-icon {
  margin-right: 0.5rem;
}

main {
  grid-column: 2;
  padding: 1rem;
}

[part="search"] {
  margin-top: 1rem;
}

.seperator {
  display: flex;
  padding: 0.75rem 0;
  justify-items: center;
  align-items: center;
  cursor: default;
}

.seperator::before {
  content: ' ';
  border-top: 1px solid rgba(69, 60, 79, 0.75);
  height: 0;
  flex: 1;
  margin-bottom: -1px;
}

.seperator::after {
  content: ' ';
  border-top: 1px solid rgba(69, 60, 79, 0.75);
  height: 0;
  flex: 1;
  margin-bottom: -1px;
}

.seperator span {
  padding: 0.25rem 0.5rem;
  color: rgba(69, 60, 79, 0.9);
  border-radius: 0.5rem;
  flex: 1;
  white-space: nowrap;
}

[part="contributors"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

[part="contributors"] mdi-avatar {
  margin-bottom: 0.75rem;
  margin-right: 0.5rem;
}