[part="container"] {
  display: grid;
  grid-template-columns: calc(300px + 1.5rem) auto;
}

aside {
  padding: 1rem 0 1rem 1rem;
  grid-column: 1;
}

aside section {
  margin-left: -1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.25rem 1rem 0.75rem 1rem;
  margin-top: 1rem;
  background: #f1f1f1;
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.2) inset;
}

aside section mdi-button-link {
  --mdi-button-background-color: transparent;
  --mdi-button-padding: 0.5rem;
  margin-bottom: 0.5rem;
}

aside section mdi-button-link mdi-icon {
  margin-right: 0.5rem;
}

main {
  grid-column: 2;
  padding: 1rem;
}

[part="search"] {
  border: 1px solid var(--site-color);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  width: calc(100% - 1.725rem);
  font-size: 1rem;
  margin-top: 1rem;
  outline: 0;
}