:host {
  display: block;
  padding: 0.5rem 1rem 1rem 1rem;
}

article {
  display: grid;
  grid-template-columns: 20rem 1fr 308px;
  grid-template-rows: 108px auto;
}

site-carbon {
  grid-row: 1;
  grid-column: 3;
}

header {
  grid-row: 1;
  grid-column: 1 / span 2;
  display: flex;
}

header h1 {
  font-size: 2rem;
  align-self: center;
  margin: 0;
}

aside {
  grid-row: 2;
  grid-column: 1;
}

nav {
  border-top: 2px solid var(--site-color);
  border-bottom: 2px solid var(--site-color);
  margin-right: 1.5rem;
  padding: 0 1rem 0 0;
  border-right: 2px solid var(--site-color);
  border-radius: 0 0.5rem 0.5rem 0;
  margin-left: -1rem;
  margin-top: 1rem;
  background: var(--site-color);
  color: #fff;
  line-height: 1.5rem;;
}

nav ul {
  list-style: square;
  padding-left: 2.25rem;
}
nav ul li {
  margin-bottom: 0.25rem;
}
nav ul li.indent-3 {
  margin-left: 1rem;
}
nav ul li.indent-4 {
  margin-left: 2rem;
}
nav ul li.indent-5 {
  margin-left: 3rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

nav a code {
  padding: 0.125rem 0.25rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

aside section {
  margin-left: -1rem;
  margin-right: 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.25rem 1rem 0.75rem 1rem;
  margin-top: 1rem;
  background: #f1f1f1;
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.2) inset;
}

aside section a {
  display: flex;
  padding: 0.5rem;
  text-decoration: none;
  border: 1px solid var(--site-color);
  color: var(--site-color);
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

aside section a mdi-icon {
  margin-right: 0.5rem;
}

aside section a:hover {
  background: var(--site-color);
  color: #fff;
  --mdi-icon-color: #fff;
}

main {
  grid-row: 2;
  grid-column: 2 / span 2;
  padding: 0.5rem 0 0 0;
}

label {
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

.card {
  padding: 0.5rem 1rem;
  border: 1px solid var(--site-color);
  border-radius: 0.25rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.col:not(:first-child) {
  margin-left: 1rem;
}

input {
  border: 1px solid var(--site-color);
  border-radius: 0.125rem;
  padding: calc(0.5rem - 1px) 0.75rem;
  font-size: 1rem;
}

input:active,
input:focus {
  box-shadow: 0 0 0 3px #4F8FF9;
}

canvas {
  margin-top: 1rem;
  box-shadow: 0 1px 0.25rem rgba(0, 0, 0, 0.4);
}