<div class="container-fluid">
    <div class="row border-top">
        <div class="col-md-4"></div>
        <div class="col-md-4 panel-login">
            <h2>Contributor Access</h2>
            <div class="alert alert-danger" *ngIf="failed">
                <mdi-icon name="alert"></mdi-icon>
                Invalid login, please note 3 invalid logins locks the account.
            </div>
            <form name="login">
                <label>
                    Username
                    <input type="text"
                        [(ngModel)]="user"
                        name="user"
                        class="form-control"
                        (keyup)="validate()" />
                </label>
                <label>
                    Password
                    <input type="password"
                        [(ngModel)]="pass"
                        name="pass"
                        class="form-control"
                        (keyup)="validate()" />
                </label>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-secondary" routerLink="/">
                            Go Back
                        </a>
                    </div>
                    <div class="col text-sm-right">
                        <button class="btn btn-primary"
                            (click)="login()"
                            [disabled]="isLoginDisabled">
                            Login
                        </button>
                    </div>
                </div>
            </form>
            <div class="panel">
                <mdi-icon name="information-outline"></mdi-icon>
                <p>
                    Accounts are locked after three failed requests. DM <a href="https://twitter.com/templarian">@Templarian</a> if you get locked out.
                </p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>