:host {
    h2 {
        margin-top: 20px;
    }
    .container-fluid {
        border-top: 4px solid #DDD;
    }
    form {
        padding: 15px;
        label {
            display: block;
        }
    }
    .panel {
        margin: 10px 0 0 0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 15px;
        position: relative;
        /deep/ {
            svg {
                position: absolute;
                left: 15px;
                top: 16px;
                path {
                    fill: #AAA;
                }
            }
        }
        p {
            margin: 0 0 0 30px;
        }
    }
}