:host {
    a ::ng-deep svg {
        fill: #FFF;
    }
    form {
        padding: 15px;
        label {
            display: block;
        }
    }
    .panel-login {
        background: #FFF;
        padding-bottom: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        border-radius: 8px;
        margin: 40px 0;

        h2 {
            margin-top: 20px;
            color: #646464;
        }

        .alert {
            margin-bottom: 5px;
            ::ng-deep {
                svg {
                    vertical-align: middle;
                    path {
                        fill: #721c24;
                    }
                }
            }
        }
    }
    .panel {
        margin: 10px 0 0 0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 15px;
        position: relative;
        ::ng-deep {
            svg {
                position: absolute;
                left: 15px;
                top: 16px;
                path {
                    fill: #AAA;
                }
            }
        }
        p {
            margin: 0 0 0 30px;
        }
    }
}