<mdi-banner [title]="title" [carbon]="true"></mdi-banner>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Issue Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Brand Requests</a>
                    </li>
                </ul>
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th style="width:5%"></th>
                            <th style="width:10%"><mdi-icon name="github"></mdi-icon></th>
                            <th class="text-left">Issue</th>
                            <th class="text-left" style="width:20%">Status</th>
                            <th style="width:8%"><mdi-icon name="google"></mdi-icon></th>
                            <th style="width:8%"><mdi-icon name="thumb-up-outline"></mdi-icon></th>
                            <th style="width:8%"><mdi-icon name="comment-outline"></mdi-icon></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let issue of issues; index as i">
                            <td>{{i+1}}</td>
                            <td>#{{issue.number}}</td>
                            <td class="text-left">{{issue.title}}</td>
                            <td class="text-left">Coming Soon</td>
                            <td></td>
                            <td>{{issue.plus}}</td>
                            <td>{{issue.comments}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group side-nav mb-4">
                <a class="list-group-item" routerLink="/about">
                    <mdi-icon name="information-outline"></mdi-icon>
                    About
                </a>
                <a class="list-group-item active" routerLink="/issues">
                    <mdi-icon name="github"></mdi-icon>
                    GitHub Issues
                </a>
                <a class="list-group-item" routerLink="/history">
                    <mdi-icon name="clock"></mdi-icon>
                    History
                </a>
                <a class="list-group-item" routerLink="/license">
                    <mdi-icon name="scale-balance"></mdi-icon>
                    License
                </a>
                <a class="list-group-item" routerLink="/contact">
                    <mdi-icon name="email-outline"></mdi-icon>
                    Contact
                </a>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Assign Issue to History Item</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>
            Issue Number
            <input type="number" class="form-control" [(ngModel)]="issueNumber" />
        </label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c(null)">Remove Issue Number</button>
        <button type="button" class="btn btn-outline-dark" (click)="c(issueNumber)">Set Issue Number</button>
    </div>
</ng-template>