<div style="position:relative;">
    <h1>
        <span *ngIf="data != null" class="icon">
            <svg viewBox="0 0 24 24">
                <path [attr.d]="data"></path>
            </svg>
        </span>
        <span [innerHtml]="name"></span>
    </h1>
    <div *ngIf="carbon" style="position:absolute;width:308px;height:108px;border:4px solid rgba(0,0,0,0.1);border-radius:4px;right:20px;top:-29px;">
        <script *ngIf="!isLocal" async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIPKJW&placement=materialdesigniconscom" id="_carbonads_js"></script>
        <img *ngIf="isLocal" src="/assets/resources/placeholder.svg"/>
    </div>
</div>