:host {
    display: block;
    font-family: 'Roboto';
    padding: 40px 60px;
    color: #FFF;
    
    h1 {
        margin: 0;
        .icon {
            display: inline-block;
            padding: 4px;
            background: #FFF;
            width: 32px;
            height: 32px;
            border-radius: 4px;
            vertical-align: middle;
            margin-top: -8px;
            margin-right: 4px;

            svg {
                width: 24px;
                height: 24px;
                vertical-align: top;

                path {
                    fill: #414F56;
                }
            }
        }
    }

    .carbon-container {
        position: absolute;
        width: 308px;
        height: 108px;
        border: 4px solid rgba(0,0,0,0.1);
        border-radius: 4px;
        right: 20px;
        top: -29px;
        .carbon-wrap {
            display: flex;
            .carbon-text {
                line-height: 1.25rem;
                font-size: 0.85rem;
                padding: 0.25rem;
                color: #444;
            }
        }
        .carbon-poweredby {
            float: right;
            font-size: 0.8rem;
            margin-top: -1.1rem;
            color: #333;
            margin-right: 0.1rem;
        }
    }
}