:host {
  .step {
    background: #F1F1F1;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: #444;
  }
  blockquote {
    background: #F1F1F1;
    border-left: 4px solid #CCC;
    padding: 0.5rem;
  }
  .or {
    display: inline-block;
    font-weight: bold;
    color: #444;
    margin-top: 1.3rem;
    background: #F1F1F1;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
  }
  .form-group-edit {
    textarea {
      border-radius: .25rem .25rem 0 0;
      border-bottom: 0;
      resize: none;
    }
    div {
      text-align: right;
      display: block;
      border-radius: 0 0 .25rem .25rem;
      border-left: 1px solid #ced4da;
      border-right: 1px solid #ced4da;
      border-bottom: 1px solid #ced4da;
      padding: 0.25rem;
      background: #FFF;
    }
    textarea + div {
      position: relative;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &::before {
        content: ' ';
        height: 0.5rem;
        background: #FFF;
        top: -0.5rem;
        position: absolute;
        width: calc(100% + 2px);
        left: 0;
        border-left: 1px solid #ced4da;
        border-right: 1px solid #ced4da;
        margin-left: -1px;
      }
    }
    textarea:focus + div {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem #C0DEFF;
      &::before {
        border-left-color: #80bdff;
        border-right-color: #80bdff;
      }
    }
    textarea:disabled + div {
      background: #e9ecef;
      &::before {
        background: #e9ecef;
      }
    }
  }
}