<mdi-banner title="Icon Management" [carbon]="false"></mdi-banner>
<div class="container">
  <div class="card p-3">
    <div class="row mb-2">
      <div class="col-md-8">
        <p>Please ask on Slack if you are unsure about modifying or adding an icon.</p>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary mr-2" (click)="goBack()">Go Back</button>
        <button class="btn btn-primary" (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-1">
        <span class="step">Step 1</span>
      </div>
      <div class="col-md-11">
        <label>
          <span class="d-block">Select a Package</span>
          <select [(ngModel)]="selectedPackage" (change)="selectPackage()" class="custom-select">
            <option *ngFor="let p of packages" [ngValue]="p">{{p.name}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-1">
        <span class="step">Step 2</span>
      </div>
      <div class="col-md-11">
        <!-- Select an Icon or New Icon -->
        <div class="row">
          <div class="col-md-3">
            <label>
              <span class="d-block">Search for an Icon</span>
              <mdi-icon-search
                [package]="selectedPackage"
                [(icon)]="selectedIcon"
                (iconChange)="selectIcon()"></mdi-icon-search>
            </label>
          </div>
          <div class="col-md-1">
            <span class="or">Or</span>
          </div>
          <div class="col-md-3">
            <div>&nbsp;</div>
            <button class="btn btn-outline-success" (click)="addIcon()">Add new Icon</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="editIcon !== null" class="row mb-3">
      <div class="col-md-1">
        <span class="step">Step 3</span>
      </div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Name</label>
              <input class="form-control" name="name"
                [(value)]="editIcon.name" disabled/>
              <div class="text-right mt-2">
                <button class="btn btn-primary" disabled>Rename</button>
              </div>
            </div>
            <div class="form-group">
              <label>Base Icon</label>
              {{editIcon.baseIconId}}
              <div class="text-right mt-2">
                <button class="btn btn-primary"
                  (click)="setBaseIcon()">Change Base Icon</button>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group form-group-edit">
              <label>Description</label>
              <textarea class="form-control" name="description" rows="5"
                [(ngModel)]="editIcon.description"></textarea>
              <div>
                <button class="btn btn-primary"
                  [disabled]="icon.description == '' || icon.description == editIcon.description"
                  (click)="updateDescription()">Update</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-group-edit">
          <label>Path Data</label>
          <textarea class="form-control" name="data" rows="3"
            [(value)]="editIcon.data" disabled></textarea>
          <div><button class="btn btn-primary" disabled>Update</button></div>
        </div>
        <div class="form-group">
          <label>Styles</label>
          <ul class="style-checkboxes">
            <li *ngFor="let style of styles" [ngClass]="{ 'active': inStyle(style.id) }">
              <button (click)="toggleStyle(style)"
                [disabled]="loading">
                <mdi-icon name="checkbox-blank-outline" *ngIf="!inStyle(style.id)"></mdi-icon>
                <mdi-icon name="checkbox-marked-outline" *ngIf="inStyle(style.id)"></mdi-icon>
                <img src="/assets/resources/grid-96-{{style.name}}.svg"/>
                <span>{{style.name}}</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="editIcon !== null" class="row mb-3">
        <div class="col-md-1">
          <span class="step">Audit</span>
        </div>
        <div class="col-md-11">
          <blockquote>
            If a mistake is made please use the audit logs below to view and revert the change.
            This will make another audit entry.
          </blockquote>
          <mdi-modification-table [icon]="editIcon"></mdi-modification-table>
        </div>
      </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>