<mdi-banner title="Icon Management" [carbon]="false"></mdi-banner>
<div class="container">
  <div class="card p-3">
    <div class="row mb-2">
      <div class="col-md-8">
        <p>Edit icon data below by searching for an icon or adding a new one.</p>
      </div>
      <div class="col-md-4 text-right">
          <button class="btn btn-primary mr-2" (click)="goBack()">Go Back</button>
        <button class="btn btn-primary" (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-5">
        <p>Icon Searcher here.</p>
      </div>
      <div class="col-md-2">Or</div>
      <div class="col-md-5 text-right">
        <button class="btn btn-primary" (click)="addIcon()">Add new Icon</button>
      </div>
    </div>
  </div>
</div>