<div class="modal-header">
  <h4 class="modal-title">Add a Tag to an Icon</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>
      Select Tag
      <select
        #inputTag
        [(ngModel)]="selectedTag"
        class="custom-select">
        <option *ngFor="let tag of tags" [ngValue]="tag">{{tag.name}} ({{tag.count}})</option>
      </select>
  </label>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cancel</button>
  <button type="button" class="btn btn-outline-dark" (click)="save()">Assign Tag</button>
</div>