:host {
  display: block;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border: 1px solid var(--site-color);
  border-radius: 0.5rem;
}

.card h2 {
  margin: 0;
  padding: 0.5rem;
  font-weight: normal;
}

.card:nth-child(0) {
  grid-row: 0;
  grid-column: 0;
}

.card:nth-child(1) {
  grid-row: 0;
  grid-column: 1;
}

.card:nth-child(2) {
  grid-row: 0;
  grid-column: 2;
}