:host {

    .seperator {
        background: #414F56;
        margin-left: -1.3rem;
        margin-right: -1.3rem;

        &:before {
            display: block;
            content: ' ';
            height: 0.25rem;
            border-radius: 0 0 0.25rem 0.25rem;
            background: #FFF;
            margin-bottom: 0.25rem;
        }

        &:after {
            display: block;
            content: ' ';
            height: 0.25rem;
            border-radius: 0.25rem 0.25rem 0 0;
            background: #FFF;
        }
    }

    blockquote {
        padding: 20px 26px 20px 20px;
        position: relative;
        margin-bottom: 0;
        font-size: 18px;
        text-align: justify;

        &::before {
            content: '“';
            position: absolute;
            left: 0;
            top: 0;
            font-size: 48px;
            font-family: sans-serif;
            color: #646464;
        }
        &::after {
            content: '”';
            position: absolute;
            right: 6px;
            bottom: -0.5rem;
            font-size: 48px;
            font-family: sans-serif;
            color: #646464;
        }
    }

    h2 {
        font-family: 'Roboto';
        margin-bottom: 10px;
        font-weight: 300;
        color: #222;
    }

    h2:not(:first-child) {
        margin-top: 10px;
    }
}