<mdi-banner [title]="title" [carbon]="true"></mdi-banner>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2>Maintainer</h2>
                    <div class="row">
                        <div class="col-4">
                            <mdi-contributor-badge></mdi-contributor-badge>
                        </div>
                        <div class="col-8">
                            <blockquote>Icon count while shown is not a measure of contribution amount. There are many issues and hours
                                of planning that go into every release that need to be tracked and processed.</blockquote>
                        </div>
                    </div>
                    <h2>Core Team</h2>
                    <div class="columns-3">
                        <mdi-contributor-badge></mdi-contributor-badge>
                        <mdi-contributor-badge></mdi-contributor-badge>
                        <mdi-contributor-badge></mdi-contributor-badge>
                    </div>
                    <h2>Contributors</h2>
                    <div class="columns-3">
                        <mdi-contributor-badge></mdi-contributor-badge>
                        <mdi-contributor-badge></mdi-contributor-badge>
                        <mdi-contributor-badge></mdi-contributor-badge>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <mdi-sidebar></mdi-sidebar>
        </div>
    </div>
</div>