<mdi-banner [title]="title" [carbon]="true"></mdi-banner>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2>Maintainer</h2>
                    <div class="row">
                        <div class="col-4">
                            <mdi-contributor-badge userId="c4ea5584-07e3-11e4-bf19-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-8">
                            <blockquote>While icon count is one way to measure support, much of the work the community does is through issue management, plugins, and documentation.</blockquote>
                        </div>
                    </div>
                    <h2>Core Team</h2>
                    <div class="row">
                        <div class="col-4">
                            <mdi-contributor-badge userId="57dfaf61-a62d-11e8-aa4e-94188269ec50"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="58a489e8-6c78-11e6-8c7d-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="79c44334-2d86-11e5-8ac4-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="bb2d8a7a-b9c1-11e7-bf5c-94188269ec50"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="2034d976-5bf9-11e6-8c7d-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="0b6dbaec-b28b-11e7-bf5c-94188269ec50"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="632f0b4e-6c74-11e6-8c7d-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="9826ba54-af4f-11e6-bd37-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="e83d3f3a-c191-11e7-bf5c-94188269ec50"></mdi-contributor-badge>
                        </div>
                    </div>
                    <h2>Contributors</h2>
                    <div class="row">
                        <div class="col-4">
                            <mdi-contributor-badge userId="818b2ede-30ce-11e5-8ac4-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="bcedc9e0-b530-11e6-bd37-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="50920196-9cce-11e7-bf5c-94188269ec50"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="FC979CE8-94E2-4A24-BDD1-A17D08274492"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="ab2e559c-b776-11e6-bd37-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="C8B53CA6-12BE-4233-88FC-A1913C7848DB"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="BFC07E9D-64B1-488B-8854-A2BC9C7A6D0A"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="278D5FEB-392B-48F3-9F83-7B46F1D112A1"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="42d6115a-b368-11e5-a4e9-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="50F81ABE-1428-4E83-9C97-EB6B58E44D6B"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="f6c6b898-3cc3-11e5-8ac4-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="63659a12-1803-11e6-8c7d-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="7ac07f7a-b67c-11e6-bd37-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="573DEA44-64CE-4E49-85F2-1A898C2EDE2D"></mdi-contributor-badge>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="85277898-09f0-11e7-a586-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-8 pt-2">
                            <p>Contributions from the community make up a majority of icons, but we also sync in the stock icons.
                                All synced in icons follow the naming guidelines of the project.</p>
                            <p><a href="https://material.io/icons/" target="_blank">Learn More at Material.io/icons</a></p>
                        </div>
                        <div class="col-4">
                            <mdi-contributor-badge userId="a8a312b6-07e4-11e4-bf19-842b2b6cfe1b"></mdi-contributor-badge>
                        </div>
                    </div>
                    <div class="seperator"></div>
                    <h2 style="margin-top:20px;">Learn how to Contribute</h2>
                    <p>Becoming a contributor is a fun way to give back to the community.</p>
                    <p><a [routerLink]="'/contribute'">View the Contribute Guide</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <mdi-sidebar></mdi-sidebar>
        </div>
    </div>
</div>
