<mdi-banner title="Manage Tags" [carbon]="false"></mdi-banner>
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card pl-3 pr-3 pt-3">
                <p>As a contributor you can submit tags to be included instantly and approve community suggestion on the
                    right.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card p-3">
                <div class="alert alert-warning">This is still being fixed and doesn't work just yet.</div>
                <h2>Tag Form</h2>
                <div>
                    <label>
                        <span class="d-block">Package</span>
                        <select [(ngModel)]="selectedPackage" (change)="selectPackage()" class="custom-select">
                            <option *ngFor="let p of packages" [ngValue]="p">{{p.name}}</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>
                        <span class="d-block">Icon Name</span>
                        <mdi-icon-search [package]="selectedPackage"
                                         [(icon)]="selectedIcon"
                                         (iconChange)="selectIcon()"></mdi-icon-search>
                    </label>
                </div>
                <div *ngIf="selectedIcon != null">
                    Existing Tags
                    <div>
                        <p *ngIf="selectedIcon.tags.length == 0">No tags have been assigned.</p>
                        <span *ngFor="let t of selectedIcon.tags; let i = index">
                            <code>{{t.name}}</code>
                            <span *ngIf="i != selectedIcon.tags.length - 1">,</span>
                        </span>
                    </div>
                </div>
                <div *ngIf="selectedIcon != null">
                    Enter Tag
                    <div>
                        <input type="text" class="form-control" [(ngModel)]="tagName" (keyup)="validate()" />
                    </div>
                    <div>
                        <button class="btn btn-primary btn-block" [disabled]="disabledTag" (click)="submitTag()">Add Tag</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-3">
                <h2>Approve Tags</h2>
                <p>Coming Soon...</p>
            </div>
            <div class="card p-3 mt-3">
                <h2>Downloads</h2>
                <a class="btn btn-primary" href="/api/csv/38EF63D0-4744-11E4-B3CF-842B2B6CFE1B?headers=Icon%20Name,Icon%20Alias&columns=icon.name,icon.aliases">Download .csv</a>
            </div>
        </div>
    </div>