<mdi-banner title="Submit Alias"></mdi-banner>
<div class="container-fluid">
<div class="row">
    <div class="col-md-6">
        <h2>Alias Form</h2>
        <div>
            Select Icon
        </div>
        <div>
            Existing Aliases
        </div>
        <div>
            Enter Alias
        </div>
    </div>
    <div class="col-md-6">
        <h2>Approve Aliases</h2>
        <p>Each alias requires 2 yes votes to get added.</p>
        <div>
            <span style="float:left;width:32px;height:32px;background:#FFF;"></span>
            <span>Icon Name</span>
            <span>Alias Name</span>
            <mdi-icon name="checkbox-blank-outline"></mdi-icon>
            <mdi-icon name="checkbox-blank-outline"></mdi-icon>
            <mdi-icon name="checkbox-blank-outline"></mdi-icon>
        </div>
    </div>
</div>