@import 'node_modules/bootstrap/scss/bootstrap';

.viewer {
    padding: 20px;

    .content {
        box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 20px;
    }

    .sidebar {
        .dropdown-item {
            border-radius: 4px;
        }
        a small {
            color: #666;
        }
        .dropdown-item.active {
            color: #FFF;

            small {
                color: #FFF;
            }

            svg path {
                fill: #FFF;
            }
        }
    }

    pre {
        position: relative;
        code {
            border-radius: 4px;

            &.language-html::before {
                content: 'HTML';
            }

            &.language-js::before {
                content: 'JavaScript';
            }

            &.hljs::before {
                font-size: 12px;
                border-radius: 0 4px 0 4px;
                position: absolute;
                top: 0;
                right: 0;
                color: #999;
                background: #FFF;
                padding: 2px 4px 2px 6px;
                pointer-events: none;
            }
        }
    }
}