@import 'node_modules/bootstrap/scss/bootstrap';

body {
    background: #414F56;
    font-family: 'Roboto';
}

.dropdown-item.active {
    svg path {
        fill: #FFF;
    }
    small {
        color: #FFF !important;
    }
}

.viewer {
    padding: 20px;

    .content {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px 0 4px 4px;
        padding: 20px;
        background: #FFF;
    }

    .sidebar {
        .dropdown-item {
            border-radius: 4px;
        }
        a small {
            color: #666;
        }
        .dropdown-item.active {
            color: #FFF;

            small {
                color: #FFF;
            }

            svg path {
                fill: #FFF;
            }
        }
    }

    h2 {
        padding: 12px 0;
        color: #E91E63;
        font-style: normal;
        font-weight: 300;
        margin: 12px 0 0 0;
        clear: both;

        small {
            color: #999;
            font-size: 18px;
        }
    }

    h3 {
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    blockquote {
        padding-left: 10px;
        border-left: 4px solid #CCC;
    }

    pre {
        position: relative;
        code {
            border-radius: 4px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) inset;

            &.language-html::before {
                content: 'HTML';
            }

            &.language-js::before {
                content: 'JavaScript';
            }

            &.language-xml::before {
                content: 'XML';
            }

            &.language-css::before {
                content: 'CSS';
            }

            &.language-text {
                display: block;
                overflow-x: auto;
                padding: .5em;
                background: #f0f0f0;
            }

            &.language-text::before {
                content: 'Text';
            }

            &.language-text::before,
            &.hljs::before {
                font-size: 12px;
                border-radius: 0 4px 0 4px;
                position: absolute;
                top: 0;
                right: 0;
                color: #999;
                background: #FFF;
                padding: 2px 4px 2px 6px;
                pointer-events: none;
            }
        }
    }

    table {
        border: 1px solid #DDD;
        width: 100%;
        margin-bottom: 10px;

        th {
            background: #F1F1F1;
            padding: 2px 4px;
        }

        td {
            padding: 2px 4px;
            &:not(:last-child) {
                border-right: 1px solid #DDD;
            }
        }

        tr {
            border-bottom: 1px solid #DDD;
        }
    }
}

.card.resource-blue {
    background: #2095F2;

    a {
        color: #FFF;
        display: block;
        padding: 4px 8px;

        svg path {
            fill: #FFF;
        }

        &:hover {
            background: darken(#2095F2, 10%);
            text-decoration: none;
        }
    }
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.btn-group-justified {
  display: flex;
  width: 100%;
  .btn,
  .btn-group {
    flex: 1;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}