<mdi-banner title="Profile" [carbon]="false"></mdi-banner>
<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card pl-3 pr-3 pt-3">
        <div class="row mb-2">
          <div class="col-md-8">
            <p>Edit profile information...</p>
          </div>
          <div class="col-md-4 text-right">
            <button class="btn btn-primary mr-2" (click)="goBack()">Go Back</button>
            <button class="btn btn-primary" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card p-3">
        <h2>Profile Form</h2>
        <form>
          <div class="form-group">
            <label>
              GitHub Username
            </label>
            <input type="text" name="github" [(ngModel)]="editUser.github" readonly class="form-control" />
          </div>
          <div class="form-group">
            <label>
              Name
            </label>
            <input type="text" name="name" [(ngModel)]="editUser.name" class="form-control" />
          </div>
          <div class="form-group">
            <label>
              Bio
            </label>
            <textarea type="text" name="description" [(ngModel)]="editUser.description" class="form-control" rows="6"></textarea>
          </div>
          <div class="form-group">
            <label>
              Twitter
            </label>
            <input type="text" name="twitter" [(ngModel)]="editUser.twitter" class="form-control" />
          </div>
          <div class="form-group">
            <label>
              Website
            </label>
            <input type="text" name="website" [(ngModel)]="editUser.website" class="form-control" />
          </div>
          <button class="btn btn-primary" (click)="submitProfile()">Update Profile</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-3 mb-3">
        <h2>Disclaimer</h2>
        <p>For privacy reasons we do not sync GitHub profile information.</p>
      </div>
      <div class="card p-3">
          <h2>Profile Photo</h2>
          <p>
            <img [attr.src]="editUser.base64" />
            <ng-template [ngIf]="updatedAvatar">
              updated to...
              <img [attr.src]="updatedAvatar" />
            </ng-template>
          </p>
          <input type="file" id="files" name="files" (change)="handleFileSelect($event)" />
        </div>
    </div>
  </div>
</div>