<mdi-banner title="Profile" [carbon]="false"></mdi-banner>
<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card pl-3 pr-3 pt-3">
        <div class="row mb-2">
          <div class="col-md-8">
            <p>Edit profile information...</p>
          </div>
          <div class="col-md-4 text-right">
            <button class="btn btn-primary mr-2" (click)="goBack()">Go Back</button>
            <button class="btn btn-primary" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card p-3">
        <h2>Profile Form</h2>
        <p>Awesome!</p>
      </div>
    </div>
  </div>
</div>