<mdi-banner [title]="title"></mdi-banner>
<div class="viewer">
    <div class="row">
        <div class="col-md-8" style="margin-top: -24px;">
            <div class="edit-on-github">
                <a [href]="'https://github.com/Templarian/MaterialDesign-Site/tree/master/src/' + file">Edit on GitHub</a>
            </div>
            <div class="content" [innerHtml]="pageData">Loading...</div>
        </div>
        <div class="col-md-4 sidebar hidden-sm-down">
            <div class="list-group">
                <ng-container *ngFor="let item of sidebar.items">
                    <a class="list-group-item"
                        routerLink="/{{item.url}}"
                        routerLinkActive="active">
                        <mdi-icon [name]="item.icon"></mdi-icon>
                        {{item.text}}
                        <small [textContent]="item.subText">Vector Drawables</small>
                    </a>
                    <a *ngFor="let subItem of item.subItems"
                        style="padding-left: 46px;"
                        class="list-group-item"
                        routerLink="/{{subItem.url}}"
                        routerLinkActive="active">
                        <mdi-icon [name]="subItem.icon"></mdi-icon>
                        {{subItem.text}}
                        <small [textContent]="subItem.subText">Vector Drawables</small>
                    </a>
                </ng-container>
            </div>
            <div class="more">
                <p>Please help us improve the documentation by editing on GitHub.</p>
                <div class="btn-group d-flex">
                    <button class="btn btn-secondary w-100">
                        <mdi-icon [name]="'github'"></mdi-icon>
                        View Docs
                    </button>
                    <button class="btn btn-secondary w-100">
                        <mdi-icon [name]="'plus-box'"></mdi-icon>
                        Add Document
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>