.edit-on-github {
    text-align: right;

    a {
        background: white;
        display: inline-block;
        padding: 1px 6px 2px 6px;
        box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px 4px 0 0;
        font-size: 14px;
        position: relative;
        color: #AAA;

        &::after {
            content: '';
            width: 100%;
            height: 6px;
            background: #FFF;
            position: absolute;
            left: 0;
            bottom: -4px;
            border-top: 1px dashed #DDD;
        }

        &:hover {
            color: #0275d8;
            text-decoration: none;
            box-shadow: 0 1px 4px rgba(2, 117, 216, 0.5);

            &::after {
                border-top-color: #0275d8;
            }
        }
    }
}
:host {
    .more {
        padding: .75rem 1.5rem;
        p {
            color: #FFF;
        }
        /deep/ {
            svg {
                vertical-align: middle;
                    path {
                    fill: #FFF;
                }
            }
        }
    }

    a {
        color: #FFF;

        /deep/ {
            svg {
                vertical-align: middle;
                path {
                    fill: #FFF;
                }
            }
        }

        &.list-group-item {
            background: transparent;
            border: 1px solid transparent;
            border-radius: 4px;
            padding-top: 6px;
            padding-bottom: 6px;

            &:hover {
                color: #FFF;
                border: 1px solid rgba(255, 255, 255, 0.2);
            }

            &.active {
                background: rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.2);
            }
        }

        small {
            color: rgba(255, 255, 255, 0.7);
        }

    }
}