<div class="wrap" style="color:#666;line-height:40px;">
    <svg width="26" height="26" style="vertical-align:middle;">
        <path fill="#999" d="M0,0H8V3H18V0H26V8H23V18H26V26H18V23H8V21H18V18H21V8H18V5H8V8H5V18H8V26H0V18H3V8H0V0M2,2V6H6V2H2M2,20V24H6V20H2M20,2V6H24V2H20M20,20V24H24V20H20Z"></path>
    </svg>
    <span style="font-size: 20px;vertical-align: middle;color: #999;padding-left: 8px;" ng-bind="site.name" class="ng-binding">Material Design Icons</span>
    <span style="float:right;line-height:20px;">
        <span style="float:left;color: rgba(255, 255, 255, 0.4);">Maintained by</span>
        <span style="float:left;color: rgba(255, 255, 255, 0.6);">&nbsp;Austin Andrews<br><a href="https://twitter.com/templarian" uib-tooltip="Twitter">@templarian</a> <a href="http://templarian.com" uib-tooltip="Templarian.com"><svg width="16" height="16" style="vertical-align:middle;"><path d="M3 5L6 5L6 2L10 2L10 5L16 5L16 9L13 9L13 12L9 12L9 9L3 9L3 5ZM10 6L10 8L12 8L12 6L10 6ZM4 6L4 8L6 8L6 6L4 6ZM7 6L7 8L9 8L9 6L7 6ZM7 3L7 5L9 5L9 3L7 3ZM10 9L10 11L12 11L12 9L10 9ZM13 6L13 8L15 8L15 6L13 6Z"></path></svg></a></span>
    </span>
</div>