<mdi-banner [title]="title" [carbon]="true"></mdi-banner>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="date-group" *ngFor="let date of modificationsByDate">
                <h2>Changes on {{date.date}}</h2>
                <div class="container-fluid history">
                    <div class="history-item" *ngFor="let m of date.modifications" [ngSwitch]="m.modificaitonId" [ngClass]="getClassName(m.modificaitonId)">
                        <div *ngSwitchCase="modificationType.News">
                            
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <div class="text-content">
                                <span [innerHtml]="m.text"></span>
                                <small>at {{friendlyTime(m.date)}} by {{m.user.name}}</small>
                            </div>
                            <div class="actions">
                                <span class="label">
                                    News
                                </span>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.WebfontPublished">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <div class="text-content">
                                <span [innerHtml]="m.text"></span>
                                <small>at {{friendlyTime(m.date)}} by {{m.user.name}}</small>
                            </div>
                            <div class="actions">
                                <span class="label">
                                    Webfont
                                </span>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.IconCreated">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <div class="icon">
                                <svg viewBox="0 0 24 24">
                                    <path [attr.d]="m.icon.data"></path>
                                </svg>
                            </div>
                            <div class="text">
                                <span>Icon
                                    <code>{{m.icon.name}}</code> created.</span>
                                <small>at {{friendlyTime(m.date)}} by {{m.user.name}}</small>
                            </div>
                            <div class="actions">
                                <a class="btn btn-sm btn-issue" *ngIf="m.issue != null"
                                    [ngbTooltip]="'GitHub Issue'"
                                    target="_blank"
                                    href="https://github.com/Templarian/MaterialDesign/issues/{{m.issue}}">
                                    #{{m.issue}}
                                </a>
                                <button *ngIf="isAuthed" (click)="assignIssue(content, m)"
                                    class="btn btn-secondary btn-sm">Assign Issue</button>
                                <a target="_blank" *ngIf="!isAuthed"
                                    [attr.href]="friendlyReport(m)"
                                    class="btn btn-secondary btn-sm">Report</a>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.IconRenamed">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <div class="icon">
                                <svg viewBox="0 0 24 24">
                                    <path [attr.d]="m.icon.data"></path>
                                </svg>
                            </div>
                            <div class="text">
                                <span>Icon
                                    <code class="name-before">{{m.nameBefore}}</code> renamed to
                                    <code class="name-after">{{m.nameAfter}}</code>
                                </span>
                                <small>at {{friendlyTime(m.date)}} by {{m.user.name}}</small>
                            </div>
                            <div class="actions">
                                <a class="btn btn-sm btn-issue" *ngIf="m.issue != null"
                                    [ngbTooltip]="'GitHub Issue'"
                                    target="_blank"
                                    href="https://github.com/Templarian/MaterialDesign/issues/{{m.issue}}">
                                    #{{m.issue}}
                                </a>
                                <button *ngIf="isAuthed" (click)="assignIssue(content, m)"
                                    class="btn btn-secondary btn-sm">Assign Issue</button>
                                <a target="_blank" *ngIf="!isAuthed"
                                    [attr.href]="friendlyReport(m)"
                                    class="btn btn-secondary btn-sm">Report</a>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.IconModified">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <div class="icon">
                                <svg viewBox="0 0 24 24">
                                    <path fill="rgba(0, 0, 0, 0.5)" [attr.d]="m.dataBefore"></path>
                                </svg>
                            </div>
                            <div class="icon">
                                    <svg viewBox="0 0 24 24">
                                        <path [attr.d]="m.dataAfter"></path>
                                    </svg>
                                </div>
                            <div class="text">
                                <span>Icon
                                    <code>{{m.icon.name}}</code> Modified</span>
                                <small>at {{friendlyTime(m.date)}} by {{m.user.name}}</small>
                            </div>
                            <div class="actions">
                                <a class="btn btn-sm btn-issue" *ngIf="m.issue != null"
                                    [ngbTooltip]="'GitHub Issue'"
                                    target="_blank"
                                    href="https://github.com/Templarian/MaterialDesign/issues/{{m.issue}}">
                                    #{{m.issue}}
                                </a>
                                <button *ngIf="isAuthed" (click)="assignIssue(content, m)"
                                    class="btn btn-secondary btn-sm">Assign Issue</button>
                                <a target="_blank" *ngIf="!isAuthed"
                                    [attr.href]="friendlyReport(m)"
                                    class="btn btn-secondary btn-sm">Report</a>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.IconDeleted">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <div class="icon">
                                <svg viewBox="0 0 24 24">
                                    <path [attr.d]="m.icon.data"></path>
                                </svg>
                            </div>
                            <div class="text">
                                <span>Icon Deleted
                                    <code>{{m.icon.name}}</code> <span [innerHtml]="m.text"></span></span>
                                <small>at {{friendlyTime(m.date)}} by {{m.user.name}}</small>
                            </div>
                            <div class="actions">
                                <a class="btn btn-sm btn-issue" *ngIf="m.issue != null"
                                    [ngbTooltip]="'GitHub Issue'"
                                    target="_blank"
                                    href="https://github.com/Templarian/MaterialDesign/issues/{{m.issue}}">
                                    #{{m.issue}}
                                </a>
                                <button *ngIf="isAuthed" (click)="assignIssue(content, m)"
                                    class="btn btn-secondary btn-sm">Assign Issue</button>
                                <a target="_blank" *ngIf="!isAuthed"
                                    [attr.href]="friendlyReport(m)"
                                    class="btn btn-secondary btn-sm">Report</a>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.AliasCreated">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <div class="icon">
                                <svg viewBox="0 0 24 24">
                                    <path [attr.d]="m.icon.data"></path>
                                </svg>
                            </div>
                            <div class="text">
                                <span>Added alias
                                    <code>{{m.text}}</code> to icon
                                    <code>{{m.icon.name}}</code>
                                </span>
                                <small>at {{friendlyTime(m.date)}} by {{m.user.name}}</small>
                            </div>
                            <div class="actions">
                                <a class="btn btn-sm btn-issue" *ngIf="m.issue != null"
                                    [ngbTooltip]="'GitHub Issue'"
                                    target="_blank"
                                    href="https://github.com/Templarian/MaterialDesign/issues/{{m.issue}}">
                                    #{{m.issue}}
                                </a>
                                <button *ngIf="isAuthed" (click)="assignIssue(content, m)"
                                    class="btn btn-secondary btn-sm">Assign Issue</button>
                                <a target="_blank" *ngIf="!isAuthed"
                                    [attr.href]="friendlyReport(m)"
                                    class="btn btn-secondary btn-sm">Report</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">
                        <mdi-icon name="filter"></mdi-icon>
                        Filter
                    </h4>
                </div>
                <div class="list-group ml-2 mb-2 mr-2">
                    <button *ngFor="let m of modificationTypes" [ngClass]="{ 'active': m.selected }" type="button" class="list-group-item list-group-item-action"
                        (click)="toggle(m)">
                        <span class="icon">
                            <mdi-icon [name]="m.selected ? 'checkbox-marked' : 'checkbox-blank-outline'"></mdi-icon>
                        </span>
                        {{m.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Assign Issue to History Item</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>
            Issue Number
            <input type="number" class="form-control" [(ngModel)]="issueNumber" />
        </label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c(null)">Remove Issue</button>
        <button type="button" class="btn btn-outline-dark" (click)="c(issueNumber)">Set Issue Number</button>
    </div>
</ng-template>